# Simpsons characters dialogs

In [146]:
import pandas as pd
from flask import Flask, request

In [147]:
df = pd.read_csv('input/simpsons_dataset.csv', engine = 'python')
df.head()

        raw_character_text                                       spoken_words
0              Miss Hoover  No, actually, it was a little of both. Sometim...
1             Lisa Simpson                             Where's Mr. Bergstrom?
2              Miss Hoover  I don't know. Although I'd sure like to talk t...
3             Lisa Simpson                         That life is worth living.
4  Edna Krabappel-Flanders  The polls will be open from now until the end ...

In [148]:
nombres = { 
    'raw_character_text':'Characters',
    'spoken_works':'Text'
}
df = df.rename(columns=nombres)

# Create characters groups

In [149]:
df['Groups'] = df['Groups'][df['Characters'].isin(('Homer Simpson', 'Marge Simpson', 'Bart Simpson', 'Lisa Simpson', 'Maggie Simpson', 'Abraham Simpson'))] = 'Home'
df['Groups'][df['Characters'].isin(('Milhouse Van Houten', 'Ralph Wiggum', 'Nelson Muntz', 'Seymour Skinner', 'Edna Krabappel', 'Groundskeeper Willie', 'Jimbo Jones', 'Martin Prince'))] = 'School'
df['Groups'][df['Characters'].isin(('Moe Szyslak', 'Barney Gumble', 'Lenny Leonard', 'Carl Carlson'))] = 'Bar'

In [150]:
df.dropna()

,Characters,spoken_words,Groups
0,Miss Hoover,"No, actually, it was a little of both. Sometim...",Home
1,Lisa Simpson,Where's Mr. Bergstrom?,Home
2,Miss Hoover,I don't know. Although I'd sure like to talk t...,Home
3,Lisa Simpson,That life is worth living.,Home
4,Edna Krabappel-Flanders,The polls will be open from now until the end ...,Home
...,...,...,...
158309,Miss Hoover,I'm back.,Home
158310,Miss Hoover,"You see, class, my Lyme disease turned out to ...",Home
158311,Miss Hoover,Psy-cho-so-ma-tic.,Home
158312,Ralph Wiggum,Does that mean you were crazy?,School
158313,JANEY,"No, that means she was faking it.",Home

In [156]:
df_reduced = df.head(100)

# Including Simpsons characters on MongoDB

In [157]:
import requests

In [159]:
for character in pd.unique(df_reduced['Characters']):
    data = requests.get(f"http://localhost:8800/user/create/{character}").content
print(data)

b'{\n  "user_id": "5e51691085d1a8d1ba848e8f"\n}\n'

# Creating chats

In [161]:
for group in pd.unique(df_reduced['Groups']):
    data = requests.get(f"http://localhost:8800/chat/create/{group}").content
print(data)

b'{\n  "Group": "School"\n}\n'

# Adding messages to chat

In [163]:
'''
Characters from the same group will be on the same MongoDB document conversation
'''
for index, row in df_reduced.iterrows():  
    data = requests.get(f"http://localhost:8800/chat/{row['Groups']}/{row['Characters']}/{row['spoken_words']}").content
print(data)

b'Great. Included'

# Pruebas

In [100]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from bson.json_util import dumps

In [101]:
client = MongoClient("mongodb://localhost/Conversations")
db = client.get_database()

In [114]:
chatname = ['cole', 'casa']
for c in chatname:
    a = list(db['Conversations'].find({'Group':f'{c}'}, {'_id':1}))
print(a[0]['_id'])

5e515d634741ae452f17539f

In [115]:
for username in pd.unique(dfschool['Characters']):
    b = list(db['Users'].find({'username':f'{username}'}, {'_id':1}))[0]['_id']
    print(b)

5e513e3b6b93ea22a65c8435
5e513e3c6b93ea22a65c8436
5e513e3c6b93ea22a65c8437
5e513e3c6b93ea22a65c8438

In [124]:
#Error
def addUser(chatname, username):
    a = list(db['Conversations'].find({'Group':f'{chatname}'}, {'_id':1}))[0]['_id']
    print(a)
    print(type(a))
    b = list(db['Users'].find({'username':f'{username}'}, {'_id':1}))[0]['_id']
    print(b)
    print(type(b))
    conversation = db['Conversation'].update({'_id': a}, {'$push':{'Characters': username}})
    print(conversation)
    return 'ok'

In [125]:
addUser('casa', 'lisa')

5e515d634741ae452f17539f
<class 'bson.objectid.ObjectId'>
5e512a46ee04e3c57485f23d
<class 'bson.objectid.ObjectId'>
{'n': 0, 'nModified': 0, 'ok': 1.0, 'updatedExisting': False}

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  if __name__ == '__main__':

'ok'

In [77]:
dfschool = dfschool.head(20)
dfschool.shape

(20, 3)

# Adding chats

In [90]:

for index, row in dfschool.iterrows():
    data = requests.get(f"http://localhost:8800/chat/create/{row['Groups']}/{row['Characters']}/{row['spoken_words']}").text
    print(data)

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

{
  "error": "'InsertOneResult' object is not iterable"
}

{
  "error": "'InsertOneResult' object is not iterable"
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

{
  "error": "'InsertOneResult' object is not iterable"
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>404 Not Found</title>
<h1>Not Found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>

{
  "error": "'InsertOneResult' object is not iterable"
}

In [127]:
dfschool.head()

,Characters,spoken_words,Groups
5,Martin Prince,I don't think there's anything left to say.,School
18,Nelson Muntz,I didn't vote. Voting's for geeks.,School
22,Milhouse Van Houten,Uh oh.,School
25,Milhouse Van Houten,"What about you, Bart? Didn't you vote?",School
379,Milhouse Van Houten,"Bart's joint. Uh, twoish. Be there or be square.",School

In [145]:
for index, row in dfschool.iterrows():
    if db['Conversations'].count_documents({'Group':row['Groups']}, limit = 1) != 0:
        i = list(db['Conversations'].find({'Group':row['Groups']}, {'_id':1}))[0]['_id']
        query = list(db['Conversations'].update({"_id":i},{"$push":{"Message": {'username': row['Characters'], 'message': row['spoken_words']}}}))
        print('Incluido')
    else:
        print('Stop')

5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido
5e5162d485d1a8d1ba848e7f
Incluido

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  import sys